a:visited {
  color: #b7410e;
}

body {
  background-color: black;
  color: white;
}

div.app-high-five button.app-high-five {
  background-color: aquamarine;
  border: none;
  border-radius: 0.5rem;
  margin: 0 1rem;
  padding: 1rem;
}

footer.app-footer {
  margin-top: 4rem;
  text-align: center;
  width: 100%;
}

h1.app-home {
  text-align: center;
}
