.app-nav {
  text-align: center;
}

.app-nav ul {
  /* background-color: #F1F1F1; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.app-nav ul li a {
  border-radius: 1rem;
  color: black;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.app-nav ul li a:hover {
  background-color: #555;
  color: white;
}
