.app-control-panel {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: app-fade-in;
  opacity: 1;
  transition: opacity 1s;
}

.app-control-panel.app-fading {
  opacity: 0;
  transition: opacity 5s;
}

.app-slideshow {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: app-fade-in;
}

.app-slideshow .app-control-panel {
  margin-top: 0.5rem;
  position: absolute;
  z-index: 1;
}

.app-slideshow .app-fullscreen-button,
.app-slideshow .app-skip-button {
  background-color: rgb(63, 81, 181);
  border-style: none;
  border-radius: 0.33rem;
  box-shadow:
    rgba(0, 0, 0, 0.20) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  color: white;
  margin-right: 1rem;
  padding: 0.5rem;
}

.app-slideshow .app-fullscreen-button:active,
.app-slideshow .app-skip-button:active {
  box-shadow: none;
}

.app-slideshow .app-fullscreen-icon,
.app-slideshow .app-skip-icon {
  margin-left: 0.075rem;
  vertical-align: bottom;
}

.app-slideshow .app-title {
  text-align: center;
}

.app-slideshow #slideshow {
  display: flex;
  justify-content: center;
}
