.app-flashcard {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: app-fade-in;
}

.app-flashcard .app-answer-button {
  appearance: none;
  border-radius: 0.3rem;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  box-sizing: border-box;
  contain: layout style;
  font-family: 'Roboto', 'Helvetica Neue', san-serif;
  font-kerning: auto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.84px;
  line-height: 19.6px;
  margin: 0;
  outline-color: white;
  outline-style: none;
  outline-width: 0;
  overflow-wrap: break-word;
  padding-bottom: 0;
  /* padding-inline-end: 1rem; */
  /* padding-line-start: 15.4px; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration-color: white;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-overflow: ellipsis;
  text-rendering: optimizelegibility;
  white-space: nowrap;
}

.app-flashcard .app-link-button {
  appearance: none;
  background-color: #0cd1e8;
  border-radius: 0.3rem;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  box-sizing: border-box;
  color: white;
  contain: layout style;
  font-family: 'Roboto', 'Helvetica Neue', san-serif;
  font-kerning: auto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.84px;
  line-height: 19.6px;
  margin: 0;
  outline-color: white;
  outline-style: none;
  outline-width: 0;
  overflow-wrap: break-word;
  padding-bottom: 0;
  /* padding-inline-end: 1rem; */
  /* padding-line-start: 15.4px; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration-color: white;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-overflow: ellipsis;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  visibility: visible;
  white-space: nowrap;
}

.app-flashcard .app-link-icon {
  margin-right: 0.5rem;
  vertical-align: bottom;
}

.app-flashcard .app-question-text {
  color: rgb(34, 36, 40);
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  overflow-wrap: break-word;
  text-rendering: optimizelegibility;
}

.app-flashcard .app-show-button {
  appearance: none;
  background-color: #0cd1e8;
  border-radius: 0.3rem;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  box-sizing: border-box;
  color: white;
  contain: layout style;
  font-family: 'Roboto', 'Helvetica Neue', san-serif;
  font-kerning: auto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.84px;
  line-height: 19.6px;
  margin: 0;
  outline-color: white;
  outline-style: none;
  outline-width: 0;
  overflow-wrap: break-word;
  padding-bottom: 0;
  /* padding-inline-end: 1rem; */
  /* padding-line-start: 15.4px; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration-color: white;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-overflow: ellipsis;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  visibility: visible;
  white-space: nowrap;
}

.app-flashcard .app-show-icon {
  margin-right: 0.5rem;
  vertical-align: bottom;
}
