.app-retirement {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: app-fade-in;
}

.app-retirement .app-title {
  text-align: center;
}

.app-retirement .app-form {
  align-items: start;
  column-gap: 0.25rem;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 1rem;
}

.app-retirement .app-reset {
  color: white;
  background-color: #b7410e;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
