.app-barchart {
  background-color: rgb(250, 250, 250);
  padding: 1rem 0;
  text-align: center;
}

@media (min-width: calc(600px + 24rem)) {
  .app-barchart {
    width: calc(600px - 5rem);
  }
}

@media (min-width: calc(600px + 48rem)) {
  .app-barchart {
    width: 600px;
  }
}
