.app-barchart {
  background-color: rgb(250, 250, 250);
  padding: 1rem 0;
  text-align: center;
}

.app-barchart svg {
  height: 300px;
  margin: 1rem;
}

@media (min-width: calc(600px + 24rem)) {
  .app-barchart {
    width: calc(600px - 5rem);
  }

  .app-barchart svg {
    width: calc(600px - 7rem);
  }
}

@media (min-width: calc(600px + 48rem)) {
  .app-barchart {
    width: 600px;
  }

  .app-barchart svg {
    width: calc(600x - 2rem);
  }
}
